<div class="worker" *ngIf="!killed">
  <div class="worker__titile">
    <h1 class="worker__title-text">
      Worker ID: {{worker?.id}}
    </h1>
  </div>

  <div class="worker__box-log">
    <ul class="worker__list-log">
      <li *ngFor="let log of logs" class="worker__log">{{log}}</li>
    </ul>
  </div>

  <div class="worker__item">
    <button class="worker__btn" type="button" (click)="killWorker()">
      Kill
    </button>

    <app-timer class="worker__timer"></app-timer>
  </div>
</div>
